<!doctype html>
<html lang="en">
	{% load static %}
	<head>
    {% include 'base/header.html' %}
	</head>

	<body>

		<!--================ Start Header Area =================-->
		{% include 'base/navbar.html' %}
		<!--================ End Header Area =================-->

    {% block content %}

    {% endblock %}

		<!--================Footer Area =================-->
		{% include 'base/footer.html' %}
		<!--================End Footer Area =================-->

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		{% include 'base/js.html' %}
	</body>

</html>
