<!doctype html>
<html lang="en">
	{% load static %}
	<head>
    {% include 'base/header.html' %}
	</head>

	<body>

		<!--================ Start Header Area =================-->
		<header class="header_area">
			<div class="main_menu">
				<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
	          <a class="navbar-brand logo_h" href="index.html"><img src="{% static 'img/logo.png' %}" alt=""></a>
						<a class="navbar-brand logo_inner_page" href="index.html"><img src="{% static 'img/logo2.png' %}" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
						 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav">
								<li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
								<li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
								<li class="nav-item"><a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a></li>
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
									 aria-expanded="false">Pages</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
										<li class="nav-item"><a class="nav-link" href="portfolio-details.html">Portfolio Details</a></li>
									</ul>
								</li>
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
									 aria-expanded="false">Blog</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
										<li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
									</ul>
								</li>
								<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</header>
		<!--================ End Header Area =================-->

    {% block content %}

    {% endblock %}

		<!--================Footer Area =================-->
		<footer class="footer_area">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="footer_top flex-column">
							<div class="footer_logo">
								<a href="#">
									<img src="{% static 'img/logo2.png' %}" alt="">
								</a>
								<div class="d-lg-block d-none">
									<nav class="navbar navbar-expand-lg navbar-light justify-content-center">
										<div class="collapse navbar-collapse offset">
											<ul class="nav navbar-nav menu_nav mx-auto">
												<li class="nav-item"><a class="nav-link text-white" href="index.html">Home</a></li>
												<li class="nav-item"><a class="nav-link text-white" href="about.html">About</a></li>
												<li class="nav-item"><a class="nav-link text-white" href="portfolio.html">Portfolio</a></li>
												<li class="nav-item"><a class="nav-link text-white" href="blog.html">BLog</a></li>
												<li class="nav-item"><a class="nav-link text-white" href="services.html">Services </a></li>
											</ul>
										</div>
									</nav>
								</div>
							</div>
							<div class="footer_social mt-lg-0 mt-4">
								<a href="#"><i class="fab fa-facebook-f"></i></a>
								<a href="#"><i class="fab fa-twitter"></i></a>
								<a href="#"><i class="fab fa-skype"></i></a>
								<a href="#"><i class="fab fa-pinterest-p"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="row footer_bottom justify-content-center">
					<p class="col-lg-8 col-sm-12 footer-text">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
	<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				</div>
			</div>
		</footer>
		<!--================End Footer Area =================-->

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		{% include 'base/js.html' %}
	</body>

</html>
