{% load static %}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
<title>Breed Portfolio - Home</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}">
<!-- main css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
