{% extends 'base/base.html' %}
{% load static %}
{% block content %}

  <!--================ Start Banner Area =================-->
  <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
          <div class="container">
              <div class="banner_content text-center">
                  <h2>Portfolio</h2>
                  <div class="page_link">
                      <a href="{% url 'home' %}">Home</a>
                      <a href="{% url 'portfolio' %}">Portfolio</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--================ End Banner Area =================-->


  <!--================ Start Portfolio Area =================-->
	<section class="portfolio_area section-margin pb-0" id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title">
						<p class="top_text">Our Portfolio <span></span></p>
						<h2>Check Our Recent <br>
							Client Work </h2>
					</div>
				</div>
			</div>

			<div class="filters portfolio-filter">
				<ul>
					<li class="active" data-filter="*">all</li>
          {% for ctg in portfolio_category %}
					<li data-filter=".{{ ctg.name }}">{{ ctg.name }}</li>
          {% endfor %}
				</ul>
			</div>

			<div class="filters-content">
				<div class="row portfolio-grid">
					<div class="grid-sizer col-md-3 col-lg-3"></div>
          {% if portfolio %}
          {% for portfolio in portfolio %}
          <div class="col-lg-6 col-md-6 all {{ portfolio.category }}">
						<div class="single_portfolio">
							<img class="img-fluid w-100" src="{{ portfolio.photo.url }}" alt="">
							<div class="overlay"></div>
							<div class="short_info">
								<h4><a href="{% url 'portfolio-details' portfolio.id %}">{{ portfolio.title }}</a></h4>
								<p>{{ portfolio.portfolio_type }}</p>
							</div>
						</div>
					</div>
          {% endfor %}
          {% else %}
          <h2 class="text-danger">Portfolio Not Available!</h2>
          {% endif %}
				</div>
			</div>
		</div>
	</section>
	<!--================ End Portfolio Area =================-->


  <!--================ Start Brands Area =================-->
	<section class="brands-area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="owl-carousel brand-carousel">
						<!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="{% static 'img/brands/logo1.png' %}" alt="">
							</div>
						</div>
						<!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="{% static 'img/brands/logo2.png' %}" alt="">
							</div>
						</div>
						<!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="{% static 'img/brands/logo3.png' %}" alt="">
							</div>
						</div>
						<!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="{% static 'img/brands/logo4.png' %}" alt="">
							</div>
						</div>
						<!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="{% static 'img/brands/logo5.png' %}" alt="">
							</div>
						</div>
						<!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="{% static 'img/brands/logo3.png' %}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Brands Area =================-->
{% endblock %}
