{% extends 'blog/blog.html' %}
{% block blog %}
<div class="blog_left_sidebar">
  {% if posts %}
  {% for post in posts %}
    <article class="blog_item">
      <div class="blog_item_img">
        <img class="card-img rounded-0" src="{{ post.photo.url }}" alt="" height="450px">
        <a href="#" class="blog_item_date">
          <h3>{{ post.pub_date|date:'b'|title }}</h3>
          <p>{{ post.pub_date|date:'d' }}</p>
        </a>
      </div>

      <div class="blog_details">
          <a class="d-inline-block" href="{% url 'blog-details' post.id %}">
              <h2>{{ post.title }}</h2>
          </a>
          <p>{{ post.content|safe|truncatewords:100 }}</p>
          <ul class="blog-info-link">
            <li><a href="#"><i class="far fa-user"></i>{{ post.author }}</a></li>
            <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>
          </ul>
      </div>
    </article>

  {% endfor %}
  {% else %}
    <h2 class="text-danger">No Post Available.</h2>
  {% endif %}



    <nav class="blog-pagination justify-content-center d-flex">
        <ul class="pagination">
            <li class="page-item">
                <a href="#" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">
                        <span class="ti-arrow-left"></span>
                    </span>
                </a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">1</a>
            </li>
            <li class="page-item active">
                <a href="#" class="page-link">2</a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link" aria-label="Next">
                    <span aria-hidden="true">
                        <span class="ti-arrow-right"></span>
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}
